<!--The content below is only a placeholder and can be replaced.-->

<app-navbar></app-navbar>

<div class="container">
  <app-sidebar></app-sidebar>
  <app-calendar></app-calendar>
</div>

<a href="GetEditEventPage/create-events.html"><div class="calendar-plus-button icon-one icon-two"></div></a>
