.container {
  height: calc(90% - 2px);
  border: 1px solid #f5f5f5;
  display: grid;
  grid-template-columns: 16% 84%;
}

.calendar-plus-button {
  position: fixed;
  bottom: 5%;
  right: 5%;
  background: url("../assets/Add_button.png") no-repeat 0 0;
  width: 59px;
  height: 59px;
  border-radius: 59px;
}

.icon-one:hover {
  background-position: -60px 0px;
}
