event-widget {
  font-size: 14px;
  border-radius: 4px;
}
.truncate {
  line-height: 24px;
  padding-left: 5px;
  display: inline-block;
  width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.shadow {
  -webkit-box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.75);
}

.daily-event, .daily-action {
  color: #fff;
  margin-bottom: 3px;
  border-radius: 5px;
}

.daily-action {
  background-color: #7986cb;
}

.daily-event {
  background-color: #1e90ff;
}
