<div *ngFor="let event of dayEvents" class="event-widget">
  <span [ngClass]="{'daily-event' : event.type === 1, 'daily-action' : event.type === 2}"
        class="truncate shadow">{{event.name}}</span>
</div>
