<!--<div *ngFor="let event of dayEvents" class="event-widget">-->
<!--<span [ngClass]="{'daily-event' : event.type === 1, 'daily-action' : event.type === 2}"-->
<!--class="truncate shadow" (click)="openEvent">{{event.name}}</span>-->
<!--</div>-->
<div class='calendar-weekday-header'>
  <span *ngIf="passedDay <= 7" class="day-name">{{DAYS[passedDay - 1]}}</span>
  <h2 class="calendar-weekday-header-day"><span class="day">{{passedDay}}</span></h2>
</div>
<div *ngIf="events | eventPipe : passedDay : currentMonth" class='event-container'>
  <app-calendar-day-event [dayEvents]="events | eventPipe : passedDay : currentMonth"></app-calendar-day-event>
</div>
