.calendar-weekday-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 25%;
}

.calendar-weekday-header-day {
  display: flex;
  flex-direction: column-reverse;
  width: 15%;
  font-size: 15px;
  padding-left: 10px;
}

.day-name {
  font-family: Roboto;
  color: #757575;
  font-size: 16px;
  margin-bottom: 4px;
}

.day {
  font-family: Roboto;
  color: #757575;
  font-weight: normal;
}

.calendar-weekday-header-day:hover {
  text-decoration: underline;
  outline: none;
  cursor: pointer;
}

.event-container {
  display: flex;
  justify-items: center;
  align-items: center;
  align-content: space-evenly;
  width: 90%;
  height: 75%;
  padding-left: 10px;
}
