.calendar-container {
  display: inline-flex;
  width: 100%;
  height: 100%;
  border-left: 1px solid #f5f5f5
}

.calendar-weekday {
  display: flex;
  justify-content: flex-start;
}

.week-labels {
  display: flex;
  flex-direction: column;
  width: 4%;
  height: 100%;
  font-size: 16px;
  border-right: 1px solid #f5f5f5;
}

.week-label {
  display: flex;
  height: 20%;
  align-items: center;
  justify-content: center;
}

.rotate-ninety {
  display: block;
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}

.calendar {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.calendar-frame {
  border-right: 1px solid #f5f5f5;
  border-bottom: 1px solid #f5f5f5;
}


