<div class="calendar-container">
  <div class="week-labels">
    <div *ngFor="let week of amountOfWeeks" class='week-label'>
      <span class='rotate-ninety'>{{week}}</span>
    </div>
  </div>

  <section class="calendar">

    <div *ngFor="let day of daysForTheMonth" class="calendar-weekday calendar-frame" id={{day}}>
      <!--<div class='calendar-weekday-header'>-->
        <!--<span></span>-->
        <!--<h2 class="calendar-weekday-header-day">{{day}}</h2>-->
      <!--</div>-->
      <!--<div *ngIf="events | eventPipe : day" class='event-container'>-->
        <!--<app-day [dayEvents]="events | eventPipe : day"></app-day>-->
      <!--</div>-->

      <app-day [passedDay]="day" [events]="events" [currentMonth]="month"></app-day>
    </div>

  </section>
</div>
